.navbar{
       display: flex;
       justify-content: center;
       align-items: center;
       background-color: rgb(1, 1, 21);
       margin: 0px;
       padding: 0px;
       width: 105rem;
       color: white;
       margin-left: 2rem;
       }

.icon{
    margin-left: 25rem;
    margin-top: 25rem;
     }
.EN{
   color: white;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-left: 25px;
   }

.Logo{
     margin-left: -26rem;
     width: 13rem;
     height: 6rem;
     float: left;
     }   


     
.Flag{
     height: 2rem;
     width: 4rem;
     margin: 0px;
     padding: 0px;
     }     

.Search{
       border-radius: 13px;
       width: 20remt;
       height: 2rem;
    
}

.cart{
    margin-left: 2rem;
    margin-right: 2rem;
}

.Delivering{ 
           width: 13rem;
           margin-left: 32px;
}